# This is a basic workflow to help you get started with Actions

name: Add repo to Infracost app

# Controls when the workflow will run
on: [create, workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      REPO_ID: ${{ github.event.repository.id }}
      APP_ID: ${{ secrets.INFRACOST_APP_ID }}
      PAT: ${{ secrets.REPO_PAT }}
      FINE_GRAINED_PAT: ${{ secrets.FINE_GRAINED_PAT }}
    steps:
      - name: Add repo to Infracost App
        run: |
            curl -L \
              -X PUT \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ env.PAT }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              https://api.github.com/user/installations/${{ env.APP_ID }}/repositories/${{ github.event.repository.id }}
      - name: Create branch protection rules
        run: |
            curl -L \
                -X PUT \
                -H 'Accept: application/vnd.github+json' \
                -H 'Authorization: Bearer ${{ env.FINE_GRAINED_PAT }}' \
                -H 'X-GitHub-Api-Version: 2022-11-28' \
                https://api.github.com/repos/Domo82/${{ env.REPO_ID }}/branches/main/protection \
                -d '{
                    "required_status_checks":{"strict":false,"contexts":[]},
                    "enforce_admins":true,
                    "required_pull_request_reviews":{"required_approving_review_count":1},
                    "restrictions":{"users":[],"teams":[]},
                    "required_linear_history":$branchProtection
                }'
